# Dataframes sortieren
Wir können mit der Methode `sort_values` Datframes unkompliziert sortieren.

## Beispiel
Wir nutzen wieder die Übungsdatei `netflix_titles.csv`, die alle Filme und Serien, die auf Netflix verfügbar sind (bzw. 2019 waren) abbildet. Um einen Dataframe zu sortieren, geben wir bei `sort_values` einfach mit `by` den oder die Spaltennamen an, die sortiert werden sollen.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../data/netflix_titles.csv")
df.dropna(inplace=True)

In [3]:
# sort by Country

### Auf- und absteigend sortieren
mit dem keyword-Argument `ascending` lässt sich bestimmen, ob aufsteigend oder absteigend sortiert werden soll.
Bei der Übergabe von zwei Spaltennamen wird erst nach der ersten Spalte und dann intern nochmal nach der zweiten Spalte sortiert. Das entspricht der `ORDER BY`-Sortierung von SQL.

In [9]:
# nach Jahr und release_year sortieren.

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1493,s1494,Movie,Cook Off,Tomas Brickhill,"Tendaiishe Chitima, Tendai Nguni, Jesese Mungo...",Zimbabwe,"June 1, 2020",2017,TV-G,100 min,"Comedies, International Movies, Romantic Movies","Yearning for a better life, a single mother wi..."
5654,s5655,Movie,Sky Tour: The Movie,Nguyen Thanh Tung,Son Tung M-TP,Vietnam,"September 2, 2020",2020,TV-G,93 min,"Documentaries, International Movies, Music & M...","From the preparations to the performances, thi..."
2318,s2319,Movie,Furie,Le Van Kiet,"Ngo Thanh Van, Phan Thanh Nhien, Mai Cat Vi, T...",Vietnam,"September 25, 2019",2019,TV-MA,97 min,"Action & Adventure, Dramas, International Movies",When traffickers kidnap her daughter from thei...

## Indizies
Die Indizies des Dataframes bleiben erhalten. Wenn man für den neuen, sortierten Dataframe neue Indizies haben will, muss man das Argument `ignore_index` auf True setzen.

In [4]:
# Sortieren und neue Indizies setzen

## n-largest und n-smallest

Mit `nlargest` und `nsmallest` stehen noch zwei Methoden zur Verfügung, um komfortabel die n-größten bzw. n-kleinsten Datensätze

In [19]:
df.nlargest(3, "release_year")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1285,s1286,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...","Canada, United States, Cayman Islands","January 8, 2021",2021,TV-Y7,85 min,"Children & Family Movies, Comedies","On the eve of his 21st birthday, an adored pri..."
6477,s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,TV-14,2 Seasons,"Anime Series, International TV Shows, Spanish-...",A boy suddenly orphaned fights his parents' ki...
7551,s7552,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a..."

In [21]:
df.nsmallest(3, "release_year")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
7268,s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,"United States, United Kingdom","March 31, 2017",1944,TV-14,76 min,"Classic Movies, Documentaries",British and American troops join forces to lib...
3425,s3426,Movie,Know Your Enemy - Japan,"Frank Capra, Joris Ivens","Walter Huston, Dana Andrews",United States,"March 31, 2017",1945,TV-14,63 min,"Classic Movies, Documentaries",Though culturally insensitive by modern standa...

## Aufgabe

1) Sortiere nach Erscheinungsjahr und zeige Spalten title, release_year und type
2) Die Anzahl der Filme insgesamt.
3) Zeige die Top 3 Filme mit der längsten Dauer in einer sortierten Liste (duration field muss int sein)

In [5]:
# Aufgabe 1)

In [6]:
# Aufgabe 2)

In [7]:
# Aufgabe 3)